@(title: String, maidForm: Form[models.MeterMaid], watchForm: Form[models.ParkingLocation])

@import helper._

<!DOCTYPE html>
<html>
  <head>
  		<title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
        <link rel="shortcut icon" type="image/png" href="icon-map-marker">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 50%; width: 50% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEenVI_VGXG6X2G8M_WgOndyFnGHfI3dU&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(46.391598, -63.791031),
          zoom: 17,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        var marker = new google.maps.Marker({
           position: new google.maps.LatLng(46.391598, -63.791031),
            map: map
        });
        var lineCoordinates = [
                               new google.maps.LatLng(46.391598, -63.791031), // Tail
                               new google.maps.LatLng(46.3916, -63.7905) // Head
                             ];

        var lineSymbol = {
          path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
        };

        var line = new google.maps.Polyline({
          path: lineCoordinates,
          icons: [{
            icon: lineSymbol,
            offset: '100%'
          }],
          map: map
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
		</script>
	</head>
	<body>
		<p>Current location of reported Meter Maids:</p>
		<div id="map-canvas"></div>
		<div id="forms">
			@helper.form(action=controllers.routes.Application.reportMetermaidSighting(), '_id -> "sightingform"){
				<p>Report a Meter Maid sighting</p>
				@inputText(maidForm("location"), '_label -> "Current location")
				@inputText(maidForm("heading"), '_label -> "Current heading")
				@*<label for "maidLocation"> Current location </label>
				<input id="maidLocation" type="text" placeholder="Current location" />
				<label for "location"> Current heading </label>
				<input id="heading" type="text" placeholder="Current heading" /> *@
				<input type="submit" value="Submit" />
			}
			@helper.form(action=controllers.routes.Application.submitParkingWatch(), '_id -> "parkingform"){
				<p>Start a watch on a new parking spot</p>
				@inputText(watchForm("location"), '_label -> "Parking spot location")
				@inputText(watchForm("startTime"), '_label -> "Watch start time")
				@inputText(watchForm("contactNumber"), '_label -> "Phone number")
				@*<label for "phoneNumber"> Cell phone number </label>
				<input id="phoneNumber" type="text" placeholder="Cell phone number" />
				<label for "vehicleLocation"> Parking location </label>
				<input id="vehicleLocation" type="text" placeholder="Parking spot location" />
				<label for "startTime"> Parking location </label>
				<input id="startTime" type="text" placeholder="Start watch" />*@
				<input type="submit" value="Submit" />
			}
		</div>
	</body>
</html>